<div class= "center jumbotron">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
  
  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }, :html => {:class => "form-horizontal center"}) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.label :email, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :username, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :password, "Password (leave blank for no change)", class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :current_password, "Current password (to confirm your changes)", class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

 <br><br> 
    <%= link_to "Back", :back %>
</div>
