<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SMILE", root_path, id: "logo" %>
    <% if user_signed_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Rosecrucian Module",   rosecrucians_path %></li>
          <li><%= link_to "Numerology Module", numerologies_path %></li>
          <li><%= gravatar_for current_user %></li>
          <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
